{% load static %}
{% load i18n %}
<footer class="footer_container">
  <div>
    <ul class="footer_content">
      <li class="footer_content__text">{% trans 'Consent to&nbsp;data processing' %}</li>
      <li class="footer_content__text"><a href="{% url 'support:support' %}" style="color: white">{% trans 'Support team' %}</a></li>
      <li class="footer_content__text">{% trans 'Privacy Policy' %}</li>
    </ul>
    <div class="footer_content__text">
      <p class="footer_content__text-center">Pet-Games Team&nbsp;| {{ year }}</p>
    </div>
  </div>
</footer>
