{% load static %}
{% load i18n %}
<footer class="footer">
  <div class="footer_div">
    <ul class="footer_div_ul">
      <li class="footer_div_ul_li">{% trans 'Consent to&nbsp;data processing' %}</li>
      <li class="footer_div_ul_li">
        <a href="{% url 'support:support' %}" style="color: white">{% trans 'Support team' %}</a>
      </li>
      <li class="footer_div_ul_li">{% trans 'Privacy Policy' %}</li>
    </ul>
    <p class="footer_div_p">
      &copy;&nbsp;braindevelopmentgames.com, {{ year }}&nbsp;| Pet-Games Team
    </p>
  </div>
</footer>
