{% load static %}
{% load i18n %}
<header class="header">
  <div class="header__container">
    <a href="{% url 'core:main' %}" class="header__link btn_animation">
      <img src="{% static '/img/fav/header-logo.svg' %}" alt="" class="header__logo">
    </a>
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="header__link btn_animation"><a href="{% url 'core:main' %}" class="menu__link">{% trans 'Home' %}</a></li>
          <li class="header__link btn_animation"><a href="{% url 'game:allgames' %}" class="menu__link">{% trans 'All games' %}</a></li>
          <li class="header__link btn_animation"><a href="{% url 'game:leaderboards' 'schulte' %}" class="menu__link">{% trans 'Leaderboards' %}</a></li>
          <li class="header__link btn_animation"><a href="{% url 'about:about' %}" class="menu__link">{% trans 'About' %}</a></li>
        </ul>
        <ul class="menu__list">
          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" onchange="this.form.submit();" class="menu__link language_select btn_animation">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name }}
                </option>
              {% endfor %}
            </select>
          </form>
          <input type="hidden" name="LANGUAGE_CODE" value="{{ LANGUAGE_CODE }}">
          {% if request.user.is_authenticated %}
            <li class="header__link btn_animation"><a href="{% url 'users:profile' %}" class="menu__link">{{ user.username }}</a></li>
          {% else %}
            <li class="header__link btn_animation"><a href="{% url 'users:login' %}" class="menu__link">{% trans 'Login' %}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
<script src="{% static 'scripts/header_script.js' %}"></script>
