@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #161819;
}

.container {
  font-family: Poppins;
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
  width: 600px;
  height: 350px;
}

.header-block {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dbdbdb;
  user-select: none;
}

.main-block {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 50px;
}

.main-block-game {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100px;
  margin-top: 30px;
}

.main-block-two {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-block {
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-block__elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border: 2px solid #dbdbdb;
  border-collapse: collapse;
  border-radius: 5%;
}

.start_game__a {
  text-align: center;
  background-color: yellow;
  width: 350px;
  border-radius: 10px;
  color: black;
}

.slider {
  display: block;
  -webkit-appearance: none;
  width: 250px;
  height: 15px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}
