{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="leaderboards">
    <div class="leaderboards_games">
      <ul class="leaderboards_games_ul">
        <li class="leaderboards_games_ul_li games_current">Stroop</li>
        <li class="leaderboards_games_ul_li leaderboards_stick">|</li>
        <li class="leaderboards_games_ul_li">Schulte</li>
      </ul>
    </div>
    <ol class="leaderboards_games_ol">
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>
      <li class="leaderboards_games_ol_li">
        <div class="leaderboards_games_ol_div">
          <div class="leaderboards_games_ol_li_span_nickname">
            Nickname
          </div>
          <div class="leaderboards_games_ol_li_span_time">
            00:00:50
          </div>
        </div>
      </li>

    </ol>
  </div>
  <div class="leaderboards_paginator">
    <a href="#" class="leaderboards_a"><img class="leaderboards_paginator_prev_next leaderboards_paginator_prev" src="{% static 'img/paginator/ChevronLeft.svg' %}" alt=""></a>
    <a href="#" class="leaderboards_a"><div class="leaderboards_paginator_page">1</div></a>
    <a href="#" class="leaderboards_a"><div class="leaderboards_paginator_page">2</div></a>
    <a href="#" class="leaderboards_a"><div class="leaderboards_paginator_page">3</div></a>
    <a href="#" class="leaderboards_a"><div class="leaderboards_paginator_page">4</div></a>
    <a href="#" class="leaderboards_a"><div class="leaderboards_paginator_page">5</div></a>
    <a href="#" class="leaderboards_a"><img class="leaderboards_paginator_prev_next" src="{% static 'img/paginator/ChevronRight.svg' %}" alt=""></a>
  </div>
{% endblock %}
