* {
    margin: 0;
    padding: 0;
}

.main_div {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.main_div__cell {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: orange;
    text-align: center;
}