{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
  {% load user_filters %}
  <div class="auth_container">
    <div class="log_in_form">
      <div class="auth_header">
        <div class="login_now_p p">Login Now</div>
        <div class="top_right_elem">
          <a href="#" class="top_right_elem_btn">Register</a>
        </div>
      </div>
      <form method="post"
        {% if action_url %}
            action="{% url action_url %}"
        {% endif %}>
        {% csrf_token %}
        <input type="text" class="username_input input" placeholder="username">
        <input type="password" class="password_input input" placeholder="password">
      </form>
      <div class="log_in entry">
        <a href="#" class="log_in entry_btn">Login Now</a>
      </div>
      <p class="password_reset">
        <a href="" class="forgot_ur_pswrd">forgot your password?</a>
      </p>
    </div>
  </div>
{% endblock %}
