{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock title %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
      </div>
      <div class="card-body">
        <form id="form-reset-password" method="post" action="#">
            {% csrf_token %}
            <div class="form-group row my-3 p-3">
                <label for="id_email">
                  Адрес электронной почты
                  <span class="required text-danger">*</span>
                </label>
                <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
            </div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            <div class="col-md-6 offset-md-4">
                <div class="form-end">
                    <input type="submit" value="Изменить пароль">
                </div>
                <div class="clearfix"></div>
                <br/>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}