<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="auth_container">
        <div class="sigin_form">
            <div class="auth_header">
                <div class="sign_in_p p">Sign In</div>
                <div class="top_right_elem">
                    <a href="#" class="top_right_elem_btn">Login</a>
                </div>
            </div>
            <form action="" class="form">
                <div class="first_line">
                <input type="text" class="username_input_long input" placeholder="*username">
                </div>
                <div class="second_line">
                    <input type="text" class="first_name_input_long input" placeholder="*your name">
                </div>
                <div class="third_line">
                    <input type="password" class="password_input_short input" placeholder="*password">
                    <input type="text" class="email_input_short input" placeholder="*email">
                </div>
                <div class="four_line">
                    <input type="password" class="password_input_short input" placeholder="*return password">
                    <input type="text" class="country_input_short input" placeholder="*country">
                </div>
            </form>
            <div class="sign_in entry">
                <a href="#" class="sign_in entry_btn">Sign In</a>
            </div>
        </div>
    </div>
</body>
</html>