{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load template_tags %}
{% load static %}
{% block title %}
  {% trans 'Support' %}
{% endblock %}
{% block content %}
<input type="hidden" name="image_url" value="{{ user.image }}">
<div class="support-container">
  <div id="support-tickets" class="support-tickets">
    <div class="support-tickets__status">{% trans 'Open' %}</div>
    <div class="support-tickets__tickets">
      {% for ticket in tickets.op %}
        {% csrf_token %}
        <div id="{{ ticket.id }}" onclick="getIdOnClick({{ ticket.id }}, 'OP')" class="support-tickets__message">
          <div class="support-tickets__info">
            <div class="support-tickets__message-title">{% header_max_len ticket.header %}</div>
            <div class="support-tickets__message-short">{% message_max_len ticket.first_message %}</div>
          </div>
          <div class="support-tickets__date">{{ ticket.date }}</div>
        </div>
      {% endfor %}
    </div>
    <div class="support-tickets__status">{% trans 'In Progress' %}</div>
    <div class="support-tickets__tickets">
      {% for ticket in tickets.ip %}
        {% csrf_token %}
        <div id="{{ ticket.id }}" onclick="getIdOnClick({{ ticket.id }}, 'IP')" class="support-tickets__message">
          <div class="support-tickets__info">
            <div class="support-tickets__message-title">{% header_max_len ticket.header %}</div>
            <div class="support-tickets__message-short">{% message_max_len ticket.first_message %}</div>
          </div>
          <div class="support-tickets__date">{{ ticket.date }}</div>
        </div>
      {% endfor %}
    </div>
    <div class="support-tickets__status">{% trans 'Closed' %}</div>
    <div class="support-tickets__tickets">
      {% for ticket in tickets.cl %}
        {% csrf_token %}
        <div id="{{ ticket.id }}" onclick="getIdOnClick({{ ticket.id }}, 'CL')" class="support-tickets__message">
          <div class="support-tickets__info">
            <div class="support-tickets__message-title">{% header_max_len ticket.header %}</div>
            <div class="support-tickets__message-short">{% message_max_len ticket.first_message %}</div>
          </div>
          <div class="support-tickets__date">{{ ticket.date }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="support-right" class="support-right">
    <div id="support_new_ticket" class="support-right__new-ticket">
      <form method="post">
        {% csrf_token %}
        <div class="support-right__create-ticket">
          <input type="hidden" name="create_ticket" value="True">
          <label class="support-right__label" for="header">{% trans 'Title' %}</label>
          <input required maxlength="60" class="support-right__input" name="header" id="header" type="text">
          <label class="support-right__label" for="chat_message">{% trans 'Message' %}</label>
          <textarea required name="chat_message" class="support-right__input support-right__input_long" id="chat_message" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="play_game_button support__button-send support_send_data btn_animation">
          {% trans 'Send' %}
        </button>
      </form>
    </div>
    <div id="support_chat" class="support-chat">
      <div id="support_history_messages" class="support-chat__messages">
      </div>
      <div id="input_message_chat">
        <form id="formMessage" method="post">
          {% csrf_token %}
          <input type="hidden" name="add_message_to_chat" value="True">
          <textarea id="textarea_message" name="chat_message" class="support-chat__textarea" placeholder="Write message" aria-multiline="true" type="text"></textarea>
          <div class="support-right__buttons">
            <div id="senddata" class="play_game_button support__button btn_animation">{% trans 'Send' %}</div>
            {% if user.is_support_staff %}
              <div class="play_game_button btn_animation support__button" onclick="changeStatus('CL')">{% trans 'Close Ticket' %}</div>
            {% endif %}
          </div>
        </form>
      </div>
      <div id="ticket_closed_message" class="support-chat__ticket_closed">
        <div class="ticket_closed_message">
          {% trans 'Ticket Closed' %}
        </div>
      </div>
    </div>
  </div>
  <div id="support_button" class="btn_animation play_game_button support_button support__button">{% trans 'Chats' %}</div>
  <div id="support_button_tickets" class="btn_animation play_game_button support_button support__button support_button_tickets">{% trans 'Tickets' %}</div>
<script src="{% static 'scripts/support_script.js' %}"></script>
</div>
{% endblock %}
