@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 1350px;
  font-family: Poppins;
  color: #14213d;
  margin: 0 auto;
  margin-top: 100px;

}


.main_div {
    margin-right: 40px;
    margin-left: 375px;
    width: 600px;
    height: 600px;
    border: 15px solid #ffc76c;
    border-radius: 2%;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #ffc76c;
}

.main_div__button {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffc76c;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5%;
    user-select: none;
}

.shake {
  animation-duration: 0.3s;
  animation-name: shake;
  animation: shake;
}

.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.right_side {
  width: 180px;
  display: inline-block;
}

.right_li {
  margin: 0;
  height: 60px;
  margin-bottom: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  list-style: none;
}

.slidecontainer {
  display: inline-block;
  width: 100%;
}

.slider {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #14213D;
}

.timer {
  display: inline-block;
  width: 180px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  line-height: 30px;
  text-align: center;
}

.ptimer {
  width: 150px;
  height: 30px;
  padding: 15px;
  text-align: left;
  opacity: 0.5;
}

.start {
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.07em;
}
