{% extends 'base.html' %}
{% block title %}Pet Games{% endblock %}
{% block content %}
{% load static %}
<section class="main-content">
    <h1 class="main-content-h1 main-content-text">Brain Development Games</h1>
    <h2 class="main-content-h2">High-quality games with different tasks necessary for brain development</h2>
    <a class="main-content-a orange" href="#">All games</a>
</section>

<section class="game_present">
    <ul class="game_ul">
        <li class="game_li">
            <img class="game_img" src="{% static 'img/light_theme/stroop_svg.svg' %}" alt="">
        </li>
        <li class="game_li game_li_text_right">
            <h3 class="name_game stroop_name">Stroop</h3>
            <p class="company_name">BRAIN DEVELOPMENT GAMES</p>
            <p class="game_decriprion">
                The Stroop test promotes the development between reading words and their perception, and also increases the concentration of attention and its switchability. Changing the usual algorithm to read first, and then perceive, to a similar one, but the reverse - first perceive, and then read makes the brain do double work.
            </p>
            <a href="#" class="play_game_button">
                PLAY GAME
            </a>
        </li>
    </ul>
</section>

<section class="game_present">
    <ul class="game_ul">
        <li class="game_li game_li_text_left">
            <h3 class="name_game schulte_name">Schulte</h3>
            <p class="company_name">BRAIN DEVELOPMENT GAMES</p>
            <p class="game_decriprion game_decriprion_schulte">
                Schulte tables are a tool for training peripheral vision, concentration of attention and parallel perception of information. The development of these skills helps to master the technique of speed reading.
            </p>
            <a href="{% url 'schulte' %}" class="play_game_button">
                PLAY GAME
            </a>
        </li>
        <li class="game_li">
            <img class="game_img" src="{% static 'img/light_theme/shulte table.svg' %}" alt="">
        </li>
    </ul>
</section>
{% endblock %}