{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Pet Games{% endblock %}
{% block content %}
  {% cache 500 'mainpage' LANGUAGE_CODE %}
    <section class="main-content">
      <div class="main-content-h1">
        <div class="main-content-text">Brain</div>
        <div class="main-content-text">Development</div>
        <div class="main-content-text">Games</div>
      </div>
      <h2 class="main-content-h2">
        {% trans 'High-quality games with different tasks necessary for brain development' %}
      </h2>
      <div class="main-button">
        <a class="play_game_button btn_animation" href="{% url 'game:allgames' %}">{% trans 'All games' %}</a>
      </div>
      <div class="game_ul">
        <img class="game_img" src="{% static 'img/light_theme/Geometry Stroop.svg' %}" alt="">
        <div class="game_li_text_right">
          <h3 class="name_game">Stroop</h3>
          <p class="game_description">{% trans 'The Stroop test promotes the development between reading words and their perception, and also increases the concentration of attention and its switchability. Changing the usual algorithm to read first, and then perceive, to a similar one, but the reverse - first perceive, and then read makes the brain do double work.' %}</p>
          <div class="main-button">
            <a class="play_game_button btn_animation" href="{% url 'game:stroop' %}">{% trans 'PLAY GAME' %}</a>
          </div>
        </div>
      </div>
      <div class="game_ul">
        <div class="game_li_text_left">
          <h3 class="name_game">Schulte</h3>
          <p class="game_description">{% trans 'Schulte tables are a tool for training peripheral vision, concentration of attention and parallel perception of information. The development of these skills helps to master the technique of speed reading.' %}</p>
          <div class="main-button">
            <a class="play_game_button btn_animation" href="{% url 'game:schulte' %}">{% trans 'PLAY GAME' %}</a>
          </div>
        </div>
        <img class="game_img" src="{% static 'img/light_theme/shulte table.svg' %}" alt="">
      </div>
    </section>
  {% endcache %}
{% endblock %}
