@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@500&display=swap');

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  margin: 0 auto;
  width: 1903px;
  line-height: 1;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color: #14213d;
  font-weight: 400;
  background-color: #fff;
}

/*auth styles*/
.auth_container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.log_in_form {
  width: 560px;
  height: 430px;
}

.sigin_form {
  width: 815px;
  height: 615px;
}

.auth_header {
  height: 70px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.p {
  user-select: none;
  font-size: 48px;
  line-height: 72px;
  color: #14213D;
  margin-right: 190px;
}

.sign_in_p {
  margin-right: 530px;
}

.top_right_elem {
  width: 120px;
  height: 45px;
  background: #FFFFFF;
  border: 3px solid #14213D;
  border-radius: 5px;
  user-select: none;
}

.top_right_elem_btn {
  margin-top: 6px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #14213D;

}

.input {
  margin-top: 20px;
  padding-left: 120px;
  height: 80px;
  width: 434px;
  font-size: 24px;
  line-height: 36px;
  color: rgba(20, 33, 61, 0.7);
  border: 3px solid #14213D;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 30px;
}

.username_input {
  background-image: url("../img/auth_imgs/Profile.svg");
}

.username_input_long {
  width: 689px;
  background-image: url("../img/auth_imgs/Profile.svg");
}

.first_name_input_long {
  width: 689px;
  background-image: url("../img/auth_imgs/Your_name.svg");
}

.email_input_short {
  width: 265px;
  background-image: url("../img/auth_imgs/Email.svg");
}

.country_input_short {
  width: 265px;
  background-image: url("../img/auth_imgs/Country.svg");
}

.password_input_short {
  margin-right: 28px;
  width: 265px;
  background-image: url("../img/auth_imgs/Lock.svg");
}

.password_input {
  background-image: url("../img/auth_imgs/Lock.svg");
}

.entry {
  margin-top: 20px;
  height: 80px;
  width: 554px;
  background: #FFFFFF;
  border: 3px solid #14213D;
  border-radius: 10px;
}

.entry_btn {
  user-select: none;
  margin-top: 12px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-size: 36px;
  line-height: 54px;
  color: #14213D;
}

.sign_in {
  width: 809px;
}

.password_reset {
  margin-top: 15px;
}

.forgot_ur_pswrd {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: rgba(20, 33, 61, 0.66);
}

/*end auth styles*/


/*generic games styles*/
.records_list {
  counter-reset: myCounter;
  display: none;
  margin-left: 40px;
  background: #FFFFFF;
  border-width: 5px 1px;
  border-top: 0;
  border-style: solid;
  border-color: #D8D5D5;
  animation: ani 0.5s forwards;
  overflow: auto;
}

@keyframes ani {
  0% {
    height: 0;
  }
  100% {
    height: 420px;
  }
}

.record {
  list-style: none;
  height: 30px;
}

.record:before {
  width: 64px;
  height: 30px;
  counter-increment: myCounter;
  content: counter(myCounter);
  color: rgba(20, 33, 61, 0.65);
  background: rgba(237, 236, 236, 0.5);
  display: inline-block;
  text-align: center;
  line-height: normal;
  margin: 0 20px 0 0;
  padding: 0 8px;
}

/*end of generic games styles*/

.background-img {
  background-image: url("../img/light_theme/rectangle_all.svg");
  background-repeat: no-repeat;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

.header {
  height: 90px;
  width: 100%;

}

.header_img {
  width: 50px;
  height: 50px;
}

.header-ul {
  height: 90px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}


.header_li {
  display: inline-block;
  margin-right: 45px;
  margin-bottom: 0;
}

.header_li_a {
  text-decoration: none;
  color: #14213d;

}

.header_div_right {
  position: absolute;
  right: 0;
}

.header_div_right_li {
  vertical-align: baseline;
  display: inline-block;
  margin-right: 45px;
  margin-bottom: 0;
}

.main-content {
  padding-left: 30px;
  height: 506px;
  margin-bottom: 298px;
}

.main-content-text {
  margin: 0;
  display: block;
  text-align: left;
}

.main-content-h1 {
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 24px;
  width: 735px;
  font-size: 96px;
}

.main-content-h2 {
  width: 401px;
  height: 106px;
  font-size: 22px;
  margin-bottom: 24px;
  line-height: 30px;
}

.grey-box {
  height: 90px;
  background-color: #f5f4f4;
}

.game_present {
  height: 600px;
}

.game_present_stroop {
  height: 600px;
  margin-bottom: 400px;
}

.game_present_schulte {
  margin-bottom: 290px;
}

.game_ul {
  display: flex;
  flex-direction: row;
}

.game_li {
  margin-right: 232px;
}

.game_li:last-child {
  margin-right: 0;
}

.game_img {
  width: 552px;
  height: 600px;
}

.game_li_text_right {
  text-align: right;
}

.game_li_text_left {
  text-align: left;
  margin-right: 255px;
}

.game_description {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 81px;
  color: #fff;
}

.game_description_schulte {
  width: 545px;
  height: 144px;
  margin-bottom: 177px;
}

.name_game {
  font-weight: 500;
  font-size: 96px;
  color: #fff;
  margin-bottom: 28px;
}

.company_name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 85px;
}

.play_game_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 317px;
  height: 50px;
  background: #fff;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14213D;
  height: 100px;
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  padding-top: 40px;
  padding-bottom: 15px;
  bottom: 0;
}

.footer_div_ul {
  margin-bottom: 22px;
}

.footer_div_ul_li {
  display: inline-flex;
  margin-right: 45px;
}

.footer_div_ul_li:last-child {
  margin-right: 0;
}

.footer_div_p {
  text-align: center;
}


/*end footer*/

/*schulte-css*/
body {
  background-color: #fff;
}

.schulte_body {
  background-image: url("../img/light_theme/rectangle_top.svg");
}

.schulte_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1350px;
  color: #14213d;
  padding-top: 50px;
  margin: 0 auto 129px;
}

.schulte_main_div {
  margin-right: 40px;
  margin-left: 375px;
  width: 600px;
  height: 600px;
  border: 15px solid #14213D;
  border-radius: 2%;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #14213D;
}

.schulte_main_div__button {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #14213D;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5%;
  user-select: none;
}

.schulte_shake {
  animation-duration: 0.3s;
  animation-name: shake;
  animation: shake;
}

.schulte_shake:hover {
  animation: schulte_shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes schulte_shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.schulte_right_side {
  width: 180px;
  display: inline-block;
}

.schulte_right_li {
  height: 60px;
  margin: 0 0 25px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  list-style: none;
}

.schulte_right_li_p_start {
  padding-top: 15px;
}

.schulte_timer {
  display: inline-block;
  width: 180px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  padding: 15px;
}

.schulte_ptimer {
  width: 150px;
  height: 30px;
  text-align: left;
}

.schulte_start {
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.07em;
}

.schulte_table_of_records {
  width: 330px;
  height: 320px;
  border-width: 5px 0;
  border-style: solid;
  border-color: #14213D;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: auto;
}

.schulte_table_of_records_li {
  padding-top: 5px;
  list-style: decimal inside;
  padding-left: 28px;
  height: 30px;
  background-color: rgba(237, 236, 236, 0.5);
}

.schulte_table_of_records_p {
  padding-left: 28px;
  padding-top: 5px;
  height: 20px;
  margin-bottom: 5px;
}

/*end schulte css*/

/*stroop-css*/
.stroop_inline {
  display: flex;
  width: 100%;
  margin: 0 auto 184px;
}

.stroop_right_container {
  margin: 100px 0 0 0;
  width: 20%;
}

.stroop_left_container {
  margin: 100px 0 0 0;
  width: 20%;
}

.stroop_table {
  width: 330px;
  height: 45px;
  margin-left: 40px;
  background: #FFFFFF;
  border-width: 5px 1px;
  border-style: solid;
  border-color: #D8D5D5;
}

.stroop_table:hover {
  cursor: pointer;
}

.stroop_achievements_p {
  margin-top: 9px;
  text-align: center;
  user-select: none;
}

.stroop_l {
  width: 330px;
  height: 420px;
}

.stroop_container {
  background-color: #fff;
  font-family: Poppins;
  position: relative;
  margin: 100px 0 0 0;
  width: 60%;
  height: 465px;
  border-width: 5px 1px;
  border-style: solid;
  border-color: #D8D5D5;
}

.stroop_timer-block {
  margin-top: 75px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #14213D;
  user-select: none;
}

.stroop_timer {
  line-height: 30px;
}

.stroop_timer-block-game {
  display: flex;
  color: #14213D;
  font-size: 32px;
  line-height: 30px;
  justify-content: center;
}

.stroop_timer-circle {
  position: absolute;
  top: -45px;
  width: 90px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.stroop_timer-game {
  text-align: center;
  margin-top: 32px;
  user-select: none;
}

.stroop_slider-block {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.stroop_slider {
  display: block;
  width: 240px;
  height: 10px;
  border-radius: 7px;
  background: #EDECEC;
  outline: none;
  -webkit-appearance: none;
  transition-duration: 0.2s;
}

.stroop_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #14213D;
  cursor: pointer;
  transition-duration: 0.2s;
}

.stroop_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #14213D;
  cursor: pointer;
  transition-duration: 0.2s;
}

.stroop_slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.stroop_word-block {
  margin-top: 110px;
  font-weight: 400;
  font-size: 64px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.stroop_color_elem_block {
  justify-content: center;
  display: flex;
  height: 120px;
  margin-top: 100px;
}

.stroop_color_block {
  margin-right: 20px;
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  transition: all ease 0.1s;
}

.stroop_color_block:last-child {
  margin-right: 0;
}

.stroop_color_block:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.stroop_start-block {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.stroop_start_game {
  padding-top: 15px;
  height: 60px;
  width: 320px;
  color: #14213D;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  background-color: #fff;
  transition: all ease 0.1s;
}

.stroop_start_game:hover {
  transform: scale(1.05);
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

.stroop_score-block {
  margin-top: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
}


/*end stroop-css*/
