{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
  {% trans 'All Games' %}
{% endblock %}
{% block content %}
  <div class="container_all_games">
    <a href="{% url 'game:stroop' %}" class="all_games__link">
      <div class="all_games_game all_games_img_stroop btn_animation">
        <div class="all_games_name ">Stroop</div>
      </div>
    </a>
    <a href="{% url 'game:schulte' %}" class="all_games__link">
      <div class="all_games_game all_games_img_schulte btn_animation">
        <div class="all_games_name">Schulte</div>
      </div>
    </a>
  </div>
{% endblock %}
