{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="profile_container">
    <div class="profile_left">
      <div class="profile_info">
        <div class="profile_info_username displ">{{ profile.username }}</div>
        <div class="profile_info_description displ">{{ profile.description }}</div>
        <div class="profile_info_addinfo">
          <div class="profile_addinfo_string">
            <div class="profile_addinfo_left">Name:</div>
            <div class="profile_addinfo_right displ">{{ profile.full_name }}</div>
          </div>
          <div class="profile_addinfo_string">
            <div class="profile_addinfo_left">E-mail:</div>
            <div class="profile_addinfo_right displ">{{ profile.email }}</div>
          </div>
          <div class="profile_addinfo_string">
            <div class="profile_addinfo_left">Country</div>
            <div class="profile_addinfo_right displ">{{ profile.country.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile_bg btn_animation">
      {% if profile.image %}
        <img class="profile_avatar_img" src="{{ profile.image.url }}" alt="avatar">
      {% else %}
        <img class="profile_avatar_img" src="{% static 'img/profile/default.png' %}" alt="avatar">
      {% endif %}
    </div>
  </div>
{% endblock %}
