{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% load user_filters %}
{% block content %}
  <div class="profile_container">
    <form id="textForm" method="post" enctype="multipart/form-data" action="">
      {% csrf_token %}
      <input type="text" name="data" hidden>
      <div class="profile_left">
        <div class="profile_info">
          <div class="profile_info_username displ">{{ user.username }}</div>
          {{ form.username }}
          <div class="field_error_profile">{{ form.username.errors }}</div>
          <div class="profile_info_description displ">{{ user.description }}</div>
          {{ form.description }}
          <div class="field_error_profile">{{ form.description.errors }}</div>
          <div class="profile_info_addinfo">
            <div class="profile_addinfo_string">
              <div class="profile_addinfo_left">Name:</div>
              <div class="profile_addinfo_right displ">{{ user.full_name }}</div>
              {{ form.full_name }}
            </div>
            <div class="field_error_profile">{{ form.full_name.errors }}</div>
            <div class="profile_addinfo_string">
              <div class="profile_addinfo_left">E-mail:</div>
              <div class="profile_addinfo_right displ">{{ user.email }}</div>
              {{ form.email }}
            </div>
              <div class="field_error_profile">{{ form.email.errors }}</div>
            <div class="profile_addinfo_string">
              <div class="profile_addinfo_left">Country</div>
              <div class="profile_addinfo_right displ">{{ user.country.name }}</div>
              {{ form.country }}
            </div>
            <div class="field_error_profile">{{ form.country.errors }}</div>
          </div>
        </div>
        <div class="flex_profile_btn">
          <div class="profile_edit btn_animation" id="editOrSave">Edit Profile</div>
          <div class="profile_edit btn_animation">
            <a href="{% url 'users:password_change' %}">Change Password</a>
          </div>
          <div class="profile_edit btn_animation">
            <a href="{% url 'users:logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </form>
    <form method="post" id="imageForm" enctype="multipart/form-data">
      <div class="profile_bg btn_animation">
        {% csrf_token %}
          <label for="fileInput" class="overlay"></label>
          <img class="profile_avatar_img" src="{{ user.image.url }}" alt="avatar">
          {{ image }}
      </div>
    </form>
  </div>
  <script src="{% static 'scripts/profile_scripts.js' %}"></script>
{% endblock %}
