{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
  {% load user_filters %}
  {% if validlink %}
    <div class="auth_container">
      <div class="log_in_form">
        <div class="login_now_p p">Reset Password</div>
        <form method="post">
          {% csrf_token %}
          {{ form.new_password1 | addclass:'password_input input' }}
          {{ form.new_password2 | addclass:'password_input input' }}
          {{ form.errors }}
          <div class="log_in entry">
            <input type="submit" value="Reset Password" class="log_in entry_btn">
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <div class="auth_container message">
      <div class="message_text">Error</div>
      <div class="message_text">Password reset link is invalid or out of date</div>
    </div>
  {% endif %}
{% endblock %}
