{% load static %}
<header class="header">
  <nav>
    <ul class="header-ul">
      <a href="{% url 'core:main' %}">
        <img class="header_li header_img"
           src="{% static '/img/fav/header-logo.svg' %}" alt="">
      </a>
      <li class="header_li">
        <a href="{% url 'core:main' %}" class="header_li_a">Home</a>
      </li>
      <li class="header_li">
        <a href="#" class="header_li_a">All games</a>
      </li>
      <li class="header_li">
        <a href="{% url 'leaderboards' 'schulte' %}" class="header_li_a">Leaderboards</a>
      </li>
      <li class="header_li">
        <a href="#" class="header_li_a">About</a>
      </li>
      <li class="header_li">
        <a href="#" class="header_li_a">Contacts</a>
      </li>
      <div class="header_div_right">
        <li class="header_li">RU</li>
        <li class="header_li">Logout</li>
      </div>
    </ul>
  </nav>
</header>
