<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
	<title>pet-games</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container _container">
				<a href="" class="header__logo">
					<img src="logo.png" alt="logo">
				</a>
				<nav class="header__menu menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="" class="menu__link">Home</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">All games</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">Leaderboards</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">About</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">Contacts</a>
						</li>
					</ul>
				</nav>
				<a href="" class="header__login">
					Log-In
				</a>
			</div>
		</header>
		<main class="page">
			<div class="page__main-block main-block">
				<div class="main-block__container _container">
					<div class="main-block__body">
						<h1 class="main-block__title">Brain Development Games</h1>
						<div class="main-block__text">
							High-quality games with different tasks necessary for brain development
						</div>
						<form action="" class="main-block__search-form">Search Games...</form>
						<section class="main-block__apps">
							<div class="apps__body">
								<div class="apps_column">
									<div class="apps__item item-app">
										<img src="firstpic.png" alt="game-logo" class="item-app__image">
										<h3 class="item-app__title">Chotte Ustaad</h3>
										<div class="item-app__text">This text is game description</div>
										<div class="item-app__link">
											<a href="" class="play_link">PLAY</a>
										</div>
									</div>
								</div>
								<div class="apps_column">
									<div class="apps__item item-app">
										<img src="two.jpg" alt="game-logo" class="item-app__image">
										<h3 class="item-app__title">Rowdy Billa</h3>
										<div class="item-app__text">This text is game description</div>
										<div class="item-app__link">
											<a href="" class="play_link">PLAY</a>
										</div>
									</div>
								</div>
								<div class="apps_column">
									<div class="apps__item item-app">
										<img src="three.jpg" alt="game-logo" class="item-app__image">
										<h3 class="item-app__title">Humpty Dumpty</h3>
										<div class="item-app__text">This text is game description</div>
										<div class="item-app__link">
											<a href="" class="play_link">PLAY</a>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer"></footer>
	</div>
</body>
</html>