{% extends "base.html" %}
{% load i18n %}
{% block title %}Change Password{% endblock %}
{% block content %}
  {% load user_filters %}
  <div class="auth_container">
    <div class="log_in_form">
      <div class="login_now_p p">{% trans 'Change Password' %}</div>
      <form method="post" action="{% url 'users:password_change' %}">
        {% csrf_token %}
        <div class="input_border flex">
          <div class="left_icon password"></div>
          {{ form.old_password | addclass:'input' }}
        </div>
        <div class="input_border flex">
          <div class="left_icon password"></div>
          {{ form.new_password1 | addclass:'input' }}
        </div>
        <div class="input_border flex">
          <div class="left_icon password"></div>
          {{ form.new_password2 | addclass:'input' }}
        </div>
        {{ form.errors }}
        <div class="log_in entry btn_animation">
          <input type="submit" value="Change Password" class="log_in entry_btn">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
