{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Login' %}{% endblock %}
{% block content %}
  {% load user_filters %}
  <div class="auth_container">
    <div class="log_in_form">
      <div class="auth_header">
        <div class="login_now_p">{% trans 'Login Now' %}</div>
        <div class="top_right_elem btn_animation">
          <a href="{% url 'users:signup' %}" class="top_right_elem_btn">{% trans 'Register' %}</a>
        </div>
      </div>
      <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div class="input_border">
          <div class="left_icon username"></div>
          {{ form.username | addclass:'input' }}
        </div>
        <div class="input_border">
          <div class="left_icon password"></div>
          {{ form.password | addclass:'input' }}
        </div>
        {% if form.errors %}
          {% for error in form.non_field_errors %}
            <div class="field_error">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}
        <div class="entry btn_animation">
          <input type="submit" value="{% trans 'Login Now' %}" class="entry_btn">
        </div>
      </form>
      <p class="password_reset">
        <a href="{% url 'users:password_reset' %}" class="forgot_ur_pswrd">{% trans 'forgot your password?' %}</a>
      </p>
    </div>
  </div>
  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

{% endblock %}
