{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Reset Password' %}{% endblock %}
{% block content %}
  {% load user_filters %}
  <div class="auth_container">
    <div class="log_in_form">
      <div class="login_now_p p">{% trans 'Reset Password' %}</div>
      <form method="post" action="{% url 'users:password_reset' %}">
        {% csrf_token %}
        <div class="input_border flex">
          <div class="left_icon email"></div>
          {{ form.email | addclass:'input' }}
        </div>
        <div class="field_error_small">{{ form.email.errors }}</div>
        <div class="log_in entry btn_animation">
          <input type="submit" value="Reset Password" class="log_in entry_btn">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
