{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Create Account' %}{% endblock %}
{% block content %}
  {% load user_filters %}
  <div class="auth_container">
    <div class="sigin_form">
      <div class="auth_header">
        <div class="login_now_p">Sign In</div>
        <div class="top_right_elem btn_animation">
          <a href="{% url 'users:login' %}" class="top_right_elem_btn">Login</a>
        </div>
      </div>
      <form method="post" action="{% url 'users:signup' %}">
        {% csrf_token %}
        <div class="input_border">
          <div class="left_icon username"></div>
          {{ form.username | addclass:'input' }}
          <div class="field_error_small">{{ form.username.errors }}</div>
        </div>
        <div class="input_border">
          <div class="left_icon first_name"></div>
          {{ form.full_name | addclass:'input' }}
          <div class="field_error_small">{{ form.full_name.errors }}</div>
        </div>
        <div class="input_flex">
          <div>
            <div class="input_border">
              <div class="left_icon short_icon password"></div>
              {{ form.password1 | addclass:'input short_input' }}
            </div>
            <div class="field_error_small">{{ form.password1.errors }}</div>
          </div>
          <div>
            <div class="input_border">
              <div class="left_icon short_icon email"></div>
              {{ form.email | addclass:'input short_input' }}
            </div>
            <div class="field_error_small">{{ form.email.errors }}</div>
          </div>
        </div>
        <div class="input_flex">
          <div>
            <div class="input_border">
              <div class="left_icon short_icon password"></div>
              {{ form.password2 | addclass:'input short_input' }}
            </div>
            <div class="field_error_small">{{ form.password2.errors }}</div>
          </div>
          <div>
            <div class="input_border">
              <div class="left_icon short_icon country"></div>
              {{ form.country | addclass:'input short_input' }}
            </div>
            <div class="field_error_small">{{ form.country.errors }}</div>
          </div>
        </div>

        <div class="entry btn_animation">
          <input type="submit" value="Sign In" class="entry_btn">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
